.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	padding-top: 2rem;

	&__logo-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}

	&__logo {
		display: block;
		width: 3rem;
	}

	&__page-title {
		margin-bottom: 0;
	}

	&__page-subtitle {
		font-size: 1.25rem;
		margin-bottom: 0;

		code {
			font-size: 1.5rem;
			padding: 0;
		}
	}
}
