.profile {
	position: sticky;
	top: 1.5rem;
	align-self: flex-start;

	p {
		margin-bottom: 1rem;
	}

	&__location {
		display: flex;
		align-items: center;

		& > :first-child {
			margin-right: 0.25rem;
		}

		svg {
			font-size: 1.25rem;
			color: var(--red);
		}
	}

	&__emoji {
		position: absolute;
		top: 0.25rem;
		right: 1rem;
		font-size: 2.5rem;
	}

	&__name {
		margin-bottom: 0;
	}

	.github-icon {
		margin-right: 0.5rem;
	}
}

@include sm {
	.profile {
		position: relative;
		top: unset;
	}
}
