.repos {
	margin-bottom: 1.5rem;

	&__icon svg {
		color: var(--orange);
	}
}

.repos-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;

	&__item {
		border: 1px solid #becad6;
		border-radius: 0.5rem;
		padding: 0.5rem 1rem;
		flex: 1 1 250px;
		position: relative;
		transition: transform 0.15s ease-out;
		cursor: pointer;
		z-index: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: 0 5px 15px -5px rgba(0, 123, 255, 0.4);
			opacity: 0;
			transition: opacity 0.25s ease-out;
			z-index: 1;
		}

		p {
			margin-bottom: 0.5rem;
		}

		&:hover {
			border-color: #007bff;
			transform: translateY(-3px);
		}

		&:hover::before {
			opacity: 1;
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__repo-title {
		font-size: 1.15rem;
		margin-bottom: 0;
		transition: all 0.25s ease-out;
	}

	&__item:hover .repos-list__repo-title {
		color: #007bff;
	}

	&__repo-description {
		font-size: 0.9rem;
	}

	&__metadata {
		display: flex;
		gap: 1rem;

		p {
			margin-bottom: 0;
			display: flex;
			align-items: center;
			font-size: 0.9rem;
		}

		.icon {
			font-size: 1rem;
			margin-right: 0.25rem;
			display: flex;
		}
	}

	&__languages-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;
	}

	&__language-progress {
		margin-bottom: 0.5rem;
	}

	&__language-progress-bar {
		&:nth-of-type(1) {
			background-color: var(--blue);
		}

		&:nth-of-type(2) {
			background-color: var(--pink);
		}

		&:nth-of-type(3) {
			background-color: var(--teal);
		}

		&:nth-of-type(4) {
			background-color: var(--gray);
		}
	}

	&__language {
		font-size: 0.7rem;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 600;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		margin-right: 0.5rem;

		.color-indicator {
			width: 0.5rem;
			height: 0.5rem;
			border-radius: 1rem;
		}

		.percentage {
			font-weight: 300;
			color: var(--gray);
		}
	}

	&__language.l1 .repos-list__color-indicator {
		background-color: var(--blue);
	}

	&__language.l2 .repos-list__color-indicator {
		background-color: var(--pink);
	}

	&__language.l3 .repos-list__color-indicator {
		background-color: var(--teal);
	}

	&__language.l4 .repos-list__color-indicator {
		background-color: var(--gray);
	}
}

// From Shards UI
.progress,
.progress-bar {
	height: 0.35rem;
}

.stars-icon {
	margin-bottom: 1px;
	color: var(--pink);
	font-size: 1.25rem;
}

.last-updated-icon {
	color: var(--green);
	font-size: 1.25rem;
}
