$search-height: 2.5rem;
$btn-border-radius: 0.375rem;

.search {
	margin-bottom: 1.5rem;

	&__search-wrapper {
		display: flex;
		position: relative;
	}

	&__search-field {
		height: $search-height;
	}

	&__submit-button {
		position: absolute;
		right: 0;
		top: 0;
		height: $search-height;
		border-radius: 0 $btn-border-radius $btn-border-radius 0;
	}
}
