ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  padding-top: 2rem;
}

.header__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.header__logo {
  display: block;
  width: 3rem;
}

.header__page-title {
  margin-bottom: 0;
}

.header__page-subtitle {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.header__page-subtitle code {
  font-size: 1.5rem;
  padding: 0;
}

main.container {
  padding-top: 0;
}

.profile-card {
  position: sticky;
  top: 1.5rem;
  align-self: flex-start;
  margin-bottom: 1.5rem;
}

img.profile-card__image {
  width: 100%;
  object-fit: cover;
}

.profile-card__location {
  display: flex;
  align-items: center;
}

.profile-card__location> :first-child {
  margin-right: 0.25rem;
}

.profile-card__location svg {
  font-size: 1.25rem;
  color: var(--red);
}

.emoji {
  margin-right: 0.5rem;
}

.container {
  padding: 2.5rem 0;
}

.repositories-panel {
  margin-bottom: 1.5rem;
}

.repositories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.repositories-list__item {
  border: 1px solid #becad6;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  flex: 1 1 250px;
  position: relative;
  transition: transform 0.15s ease-out;
  cursor: pointer;
  z-index: 0;
}

.repositories-list__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px -5px rgba(0, 123, 255, 0.4);
  opacity: 0;
  transition: opacity 0.25s ease-out;
  z-index: 1
}

.repositories-list__item:hover {
  border-color: #007bff;
  transform: translateY(-3px);
}

.repositories-list__item:hover::before {
  opacity: 1;
}

.repositories-list__item> :last-child {
  margin-bottom: 0;
}

.repositories-list__item p {
  margin-bottom: 0.5rem;
}

.stats-row {
  margin-bottom: 1rem;
}

.stats-card {
  margin-bottom: 15px;
}

.stats-card__icon svg {
  font-size: 1.5rem;
}

.followers {
  color: var(--indigo);
}

.following {
  color: var(--cyan);
}

.stars {
  color: var(--pink);
}

.gists {
  color: var(--teal);
}

.repositories__icon svg {
  color: var(--orange);
}

.progress,
.progress-bar {
  height: 0.35rem;
}

.metadata {
  display: flex;
  gap: 1rem;
}

.last-updated {
  color: var(--green);
  font-size: 1.25rem;
}

.stars {
  color: var(--pink);
  font-size: 1.25rem;
}

.language-progress-bar:nth-of-type(1) {
  background-color: var(--blue);
}

.language-progress-bar:nth-of-type(2) {
  background-color: var(--pink);
}

.language-progress-bar:nth-of-type(3) {
  background-color: var(--teal);
}

.language-progress-bar:nth-of-type(4) {
  background-color: var(--gray);
}

.language {
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.language.l1 {
  color: var(--blue);
}

.language.l2 {
  color: var(--pink);
}

.language.l3 {
  color: var(--teal);
}

.language.l4 {
  color: var(--gray);
}

.followers-panel__icon {
  color: var(--purple);
  font-size: 1.5rem;
}

.followers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 500px;
  overflow-y: scroll;
  padding-top: 0.5rem;
}

.followers-list__item {
  flex: 1 1 200px;
  margin-bottom: 0;
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid #becad6;
  position: relative;
  transform: translateY(0);
  transition: transform 0.25s ease-out;
  cursor: pointer;
}

.followers-list__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px -5px rgba(0, 123, 255, 0.4);
  opacity: 0;
  transition: opacity 0.25s ease-out;
  z-index: 1
}

.followers-list__item:hover {
  border-color: #007bff;
  transform: translateY(-3px);
}

.followers-list__item:hover::before {
  opacity: 1;
}

.followers-list__link-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  padding: 0.25rem;
}

.followers-list__image {
  flex: 0 1 60px;
  width: 60px;
  height: 60px;
  border-radius: 0.25rem;
  object-fit: cover;
}

.followers-list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.followers-list__container>* {
  margin-bottom: 0;
}

.followers-list__name {
  font-size: 0.9rem;
  line-height: 1;
  margin-bottom: 0.25rem;
}

.followers-list__location {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  font-size: 0.8rem;
  line-height: 1;
  color: #5a6169;
}

.followers-list__location-icon {
  display: flex;
  color: var(--red);
  font-size: 0.8rem;
}

@media (min-width: 576px) {
  .profile-card {
    position: relative;
    top: unset;
  }
}